@inject IJSRuntime jsRuntime
<div @ref="divCanvas" @onclick="MyOnClick">
    <BECanvas Width="1000" Height="800" @ref="_canvasReference"></BECanvas>
</div>
@code {
    private ElementReference divCanvas;
    private BECanvasComponent _canvasReference;
    private TestBasicDrawingCapability1 controlClass = new TestBasicDrawingCapability1();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await controlClass.TestDrawLine(_canvasReference);
    }

    protected async Task MyOnClick(MouseEventArgs eventArgs)
    {
        await CCLJsInterops.OnClick(jsRuntime, divCanvas, eventArgs, controlClass);
    }
}
