@page "/Drawing/testccldrawing"
<h3>Testing out CLL Razor Components for Blazor</h3>
<CCLRazorComponentsForBlazor.TestCanvasDrawingComponent></CCLRazorComponentsForBlazor.TestCanvasDrawingComponent>
@code {

}
