@page "/error"
<h1 class="text-danger">An Error Occurred.</h1>
<h2>If this is a reproduceable problem please email the steps to reproduce the problem to <a href="mailto:akshay.srin@gmail.com">akshay.srin@gmail.com</a></h2>
